<h3>Notice</h3>
<ul>
  <li>Selectionner un spooler, puis aller dans Advanced</li>
  <li>Selectionner la plage de dates de recherche</li>
  <li>Entrer eventuellement un nom de job: Vous pouvez trouver un job soit par un mot contenu dans son nom (like) soit par son nom complet (equal)</li>
  <li><a target="_blank" href="{{url('stat_help')}}">Voir la page d'aide </a></li>
</ul>
